*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background-color: #b1edb5;
}
h4{
  margin-bottom: 50px;
  font-size: 60px;
  font-weight: 600;
}

body{
text-align: center;
font-family: Arial;
}


.head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background: #24749c;
  position:fixed;
  width: 100%;
  z-index: 100;
}

.navbar {
  display: flex;
  margin-right: 15px;

}
.logo {
  margin-left: 30px;
}
.logo a{
  text-decoration: none;
  color: aliceblue;
  text-transform: uppercase;
  font-size: 20px;
}

.navbar a {
  display: block;
  padding: 23px 20px;
  color: aliceblue;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  margin: 0.2rem;
  border-radius: 1rem;
}

.navbar a:hover {
  background: #410202;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  height: 100vh !important;
  background:   rgb(243, 243, 243) no-repeat center;
  background-size: cover;
} 
.title {
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}
p{
  margin-bottom: 20px;
  font-size: 22px;

}
.content {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.sau {
  padding: 40px;
  background: rgb(245, 219, 219);
  
}
.box-container {
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  font-size: 20px;
}
input{
  height: 2rem;
  width: 15rem;
  background: rgb(255, 253, 253);
  text-align: center;
  margin: 2rem;
}
.result {
  height: 2rem;
  width: 15rem;
  background: rgb(238, 211, 211);
  text-align: center;
  height: 2rem;
  width: 15rem;
  background: rgb(129, 205, 249);
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 .3 5rem rgba(123, 76, 76, 0.5);
  margin: 2rem;
  margin: 2rem;
}
.reset {
  height: 2rem;
  width: 15rem;
  
  background: rgb(30, 24, 30);
  text-align: center;
  height: 2rem;
  width: 15rem;
  background: rgb(129, 205, 249);
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 .3 5rem rgba(123, 76, 76, 0.5);
  margin: 2rem;
  margin: 2rem;
}
